<div class="text-center">

    <h1>Welcome to Guess the Tissue!</h1>


    <a href="/Quiz/Question?id=1" class="btn btn-primary btn-lg">
        Start Quiz
    </a>
    <br></br>
    <h15>1-26-blood cells</h15>
    <br></br>
    <h15>27-42-blood vessels</h15>
    <br></br>
    <h15>43-52-kidney</h15>
    <br></br>
    <h15>53-55-skin</h15>
    <br></br>
    <h15>56-60-skeleton</h15>
    <br></br>
    <h15>61-62-lymph</h15>
    <br></br>
    <h15>63-71-neuro</h15>
    <br></br>
    <h15>72-81-neuro</h15>
    <br></br>
    <h15>82-88-muscle</h15>
    <br></br>
    <h15>89-103-female reproductive system</h15>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <h15>made by sagie and noam</h15>
</div>